/* Header */
header{
    background-color:transparent;
}
.toLeft{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:50%;
    height:auto;
}
.toRight{
    width:300px;
    height:auto;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
}
nav ul li{
    margin-left:1.5rem;
}
nav ul li a:hover{
    color:#585858;
}
/*Movie preview modal*/
.movie-preview{
    width:60vw;
    height:90vh;
    background-color:#000000;
    position:fixed;
    top:10%;
    left:20%;
    z-index:100;
    overflow-y:scroll;
    max-height:100%;
}
.modal-close-btn{
    background:none;
    padding:0.7rem 1rem;
    border-radius:50%;
    border:none;
    position:relative;
    top:-430px;
    left:30px;
}
.modal-close-btn:hover {
    background-color:#000000;
    transform:scale(1.2);
    transition:all .2s linear;
}
.modal-close-btn i {
    color:#e50914;
    font-size:2rem;
    font-weight:bold;
}
.preview-video{
    width:auto;
    height:85%;
    min-height:460px;
    margin:0 auto;
}
.preview-title{
    position:relative;
    top:-200px;
    left:30px;
}
.preview-play-btn-div{
    width:300px;
    height:auto;
    display:flex;
    justify-content:space-between;
    position:relative;
    top:-190px;
    left:30px;
}
.like-dislike-btn{
    width:40px;
    height:40px;
    padding:.5rem;
    border-radius:50%;
    background-color:#585858;
    border:none;
}
.like-dislike-btn:hover{
    transform:scale(1.2);
    transition:transform .2s linear;
}
.add-to-list-btn{
    padding:.5rem;
    border:none;
    background-color:#000000;
    border-radius:3px;
}
.add-list-button-clicked{
    width:40px;
    height:40px;
    padding:.5rem;
    border-radius:50%;
    background-color:#e50914;
    border:none;
}
.add-to-list-btn:hover{
    transform:scale(1.2);
    transition:all .2s linear;
}
.movie-preview-description{
    width:auto;
    margin:1rem 3rem;
    font-size:1.2rem;
    position:relative;
    top:-70px;
    left:0px;
}
.movie-preview-genre{
    min-width: 500px;
    display:flex;
    flex-direction:space-between;
    position:relative;
    top:-100px;
    left:30px;
}
.movie-preview-genre p{
    margin-right:1rem;
    padding:.5rem;
    background-color: #e50914;
    border-radius: 3px;
}
.related-videos{
    display:flex;
    flex-wrap:wrap;
    gap:.5rem;
    position:relative;
    top:0;
    left:5%;
}

/* Home page */
.home {
    min-width: 300px;
    width: 98.7vw;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -210px;
    left: 0;
    z-index: 0;
}

.homeVideo{
    width:100%;
    height:auto;
    min-height:800px;
}
.homeVideoLabel{
    position:absolute;
    min-width:320px;
    width:450px;
    left:50px;
}
.homeVideoLabel h1, .homeVideoLabel h3{
    margin-bottom:1.2rem;
}
.homeVideoLabel button{
    padding: .8rem 1.5rem;
}
.homeVideoLabel button:hover{
    transform:scale(1.2);
    background-color:#ffffff;
    color:#e50914;
    font-weight:bold;
    transition:all .2s linear;
}

/* Categories */
.categories{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding:2.5rem;
    position:relative;
    top:-420px;
    overflow:hidden;
   
}
.categories .category-videos{
    display:flex;
}
.categories .category-videos img{
    width: 250px;
    height:auto;
    border-radius:5px;
    padding:0 3px;
    position:relative;
}
.categories .category-videos img:hover{
    transform:scale(1.05);
    transition:transform .5s linear;
}
.categories span{
    background-color: #000000;
    border-radius:50%;
    padding:1rem 1.5rem;
    opacity:0.8;
    position:absolute;
    margin-top:35px;
}
.categories span i{
    font-size:2rem;
}
.categories .leftAngle{
    left:100px;
}
.categories .rightAngle {
    right: 100px;
}

